fastapi==0.111.0
uvicorn[standard]
sqlalchemy==2.0.30
pymysql
cryptography
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
httpx
beautifulsoup4
scikit-learn
nltk
pandas
numpy
pydantic-settings
feedparser
slowapi
